%h1 TANAKA KAZUKI . COM
%h2.subtitle THIS IS MY WORK
- size = 250
.top30px
  .top30px
    .icon
      = link_to fa_icon('file-text-o'), texts_path
    .icon
      = link_to fa_icon('music'), musics_path
  .clearfix
  .top30px
    .icon
      = link_to fa_icon('camera-retro'), pictures_path
    .icon
      = link_to fa_icon('apple'), programs_path